@import "bootstrap";

.container {
	position: relative;
}

.container-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-links {
	margin-left: 30%;
	margin-right: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}